# Cache files

.DS_Store
._.*
.directory
Thumbs.db
*~
*.orig

# IDE settings
nbproject

# Project specific
/restapi/Slim
/restapi/.htaccess
/.htaccess
/conf/ENABLE_INSTALL_TOOL
/conf/settings.xml
/_data
